body {
  background: linear-gradient(to right, #ebe8e8, #f5d0f5);
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.note-card {
  border-radius: 20px;
  min-height: 220px;
  transition: 0.3s;
  position: relative;
}

.note-card:hover {
  transform: translateY(-10px) scale(1.02);
}

.note-text {
  font-size: 18px;
  font-weight: 500;
  word-wrap: break-word;
}

textarea {
  resize: none;
}